.navbar__container {
  width: 100px;
  background-color: black;
  display: flex;
  flex-direction: column;
}
.navbar__link {
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
}
.navbar__link:hover {
  color: aqua;
}
